

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

#searchForm {
    font-family: 'Dosis', sans-serif;
}

#title {
    font-family: 'Dosis', sans-serif;
}

#message {
    font-family: 'Dosis', sans-serif;

}