.posts {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-template-columns: 100%;
    height: 50vh;
    margin: 6rem;
    background-color: grey;
    /* align-items: center;
    justify-items: center;
    justify-content: center; */
}

h3 {
    text-align: center;
    font-size: 16px;
}

.postTitle {
    margin-top: 1em;
    margin-left: 5vw;
}

.textContent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 5vw;
}

.addComment {
    width: 60vw;
    margin: 1em;
}

#form {
    text-align: center;
}

#newPost {
    margin: 3em;
}

.interactiveComments {
    text-align: center;
}


.button {
    margin: 5px;
    
}

.submitBtn {
    margin: 5px 20px;
}

.viewComs {
    margin-bottom: 10px;
}

.header{
    margin-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    background: url(https://images.unsplash.com/photo-1547960450-2ea08b931270?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
    /*url(https://images.unsplash.com/photo-1502810190503-8303352d0dd1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);*/
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    text-align: center;
}

.heading{
    color: #fff;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}

.heading .small{
    display: block;
    font-size: 40px;
}

.heading .no-fill{
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
}

.btn2{
    padding: 10px 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}

